#diag-form fieldset ul li
    list-style-type: none;

.diagnostic-container
  max-width: 800px

  label
    display: inline-block
    margin: 0.4rem 0
    line-height: 1.4

  legend
    font-weight: bold;
    text-transform: uppercase;

  &__btn
    margin-top: 1.5rem
    padding: 0.8rem 1.2rem
    cursor: pointer

  &__result
    margin-top: 2rem
    padding: 1rem
    border-left: 4px solid #333

  input[type="checkbox"]:focus-visible,
  button:focus-visible
    outline: 3px solid #185FA5;
    outline-offset: 2px;

  #diag-desc
    margin-bottom: 2rem

#diagnostic-btn
    margin-bottom: 2rem

#diag-title
    background-color: #0038FF;
    color: #fff106;
    padding: .3rem;
    border-radius: 3px;
    font-size: 1.5rem;

.mini-audit-link
    color: #0038FF;
    font-weight: bold
