.hero .content .hero-text
  margin-top: 0

.image-portrait
    width: 50%
    max-width: 50%
    margin: auto

.block-testimonials--carousel .slider-controls
  margin: 1.5rem 0;

.slider-pagination li::before
  height: 0.2rem
  background-color: grey

.slider-pagination li::after
  height: 0.3rem;
  background-color: #0038FF

@include media-breakpoint-up(desktop)
  .block-testimonials--carousel blockquote.is-long p,
  .block-testimonials--carousel blockquote p
    font-size: 2rem;

.page__home .block.block-embed > .container
  padding-left: 0;
  padding-right: 0;
