// ==============================================
// HOME
// ==============================================

// Titre H1
.hero .content .hero-text
  margin-top: 0

.page__home .hero
  min-height: 0

.image-portrait
    width: 50%
    max-width: 50%
    margin: auto
