$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

// Titre H1
.hero .content .hero-text {
  margin-top: 0 !important;
}

.page__home .hero {
  min-height: 0 !important;
}

//Header button
.menu-class-cta-audit-menu a {
    background-color: #0038FF !important; 
    color: white !important;
    font-weight: bold !important;
    border-radius: 13px !important;
    padding: 13px !important;
    margin: 5px 0 !important;
    width: fit-content !important;
}

.primary-menu .menu li a:hover {
      text-decoration: underline !important;
}
