//Header button CTA
.menu-class-cta-audit-menu a
    background-color: rgb(0, 56, 255) 
    color: white !important
    font-weight: bold !important
    border-radius: 13px
    padding: 13px !important
    margin: 5px 0
    width: fit-content

.primary-menu .menu li a:hover
  text-decoration: underline

header#document-header .logo img
  border-radius: .3rem

header#document-header .logo img
  height: 60px

.menu-class-cta-audit-menu a:focus, 
.menu-class-cta-audit-menu a:focus-visible
  border: var(--btn-hover-border)
  border-radius: 3px;
  outline-color: inherit;
  outline-offset: 8px;
  outline-style: dashed;
  outline-width: 1px;
  color: blue !important
  background: white

@include media-breakpoint-up(desktop)
  .menu .has-children:not(.upper-menu-i18n, .primary-i18n) .dropdown-menu
    min-width: 170px; 
  .menu-class-cta-audit-menu a
    margin-left: 1.5rem;
