//Header button CTA
.menu-class-cta-audit-menu a
    background-color: #0038FF 
    color: white
    font-weight: bold
    border-radius: 13px
    padding: 13px
    margin: 5px 0
    width: fit-content

.primary-menu .menu li a:hover
      text-decoration: underline

header#document-header .logo img
  border-radius: .3rem

header#document-header .logo img
    height: 60px

.menu-class-cta-audit-menu a:focus, 
.menu-class-cta-audit-menu a:focus-visible
  color: var(--btn-hover-color)
  background: var(--btn-hover-background)
  border: var(--btn-hover-border)