.primary-menu .menu li a:hover
  text-decoration: underline

.logo-text
  text-transform: uppercase;
  background-color: #0038FF;
  color: #FFF106;
  padding: .5rem;
  border-radius: .3rem

header#document-header .logo
  margin-bottom: 1.3rem;

header#document-header .logo .logo-text
  font-size: 2rem;

.menu-class-cta-audit-menu a:focus, 
.menu-class-cta-audit-menu a:focus-visible
  border: var(--btn-hover-border)
  outline-color: inherit;
  outline-offset: 8px;
  outline-style: dashed;
  color: blue !important
  background: white

@include media-breakpoint-up(desktop)
  .menu .has-children:not(.upper-menu-i18n, .primary-i18n) .dropdown-menu
    min-width: 170px; 
  .menu-class-cta-audit-menu a
    margin-left: 1.5rem;

header#document-header .primary-menu .header-button:focus-visible
  outline-width: 2px;
  