.menu-class-cta-audit-menu a
    background-color: #0038FF
    color: white 
    font-weight: bold 
    border-radius: 13px 
    padding: 13px 
    margin: 5px 0 
    width: fit-content 

.primary-menu .menu li a:hover
      text-decoration: underline 
